body {
  position: relative;
}

.hero1 {
  background-image: url('https://res.cloudinary.com/ddlpde95c/image/upload/v1671710671/b1_fr6fy3.jpg');
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 14px;
  color: #fff;
}
.hero1 h2 {
  margin-bottom: 0.8rem;
}

.productHeading {
  text-align: center;
  margin: 30px 0;
}

.product-Categories {
  border-radius: 10px;
}

.product1 {
  display: flex;
  margin-top: -10px;
  gap: 20px;
}

.product-Categories {
  padding: 30px 15px;
  width: 180px;
  text-align: start;
  border: 1px solid #cce7d0;
  margin-top: 36px;
}
.product-Categories h3 {
  font-size: 2.2rem;
}
.check {
  font-size: 1.7rem;
  padding: 20px 0;
}
.check1 {
  padding: 10px 0;
}
.filter {
  margin-top: 50px;
  border: 1px solid #cce7d0;
  padding: 30px 10px;
  text-align: start;
  border-radius: 10px;
}
.filter h3 {
  padding-bottom: 10px;
}

.border-top {
  border-top: 1px solid #cce7d0;
  /* position: fixed;
  bottom: 0; */
}

.sidebar {
  /* position: fixed;
  top: 0;
  left: 0; */
}

.vishal {
  text-transform: capitalize;
  font-size: 2em;
  color: aquamarine;
}

@media (max-width: 560px) {
  .sidebar-container {
    display: none;
  }
  .hero1 {
    font-size: 2rem;
  }
  .productHeading h2 {
    font-size: 3rem;
  }
  .hero1 h2 {
    font-size: 3rem;
  }
  ,
  .hero1 p {
    font-size: 1.2rem;
  }
  .productHeading p {
    font-size: 1.2rem;
  }
}

@media (min-width: 560px) {
  .FilterPhone {
    display: none;
  }
}

@media (max-width: 460px) {
  .productHeading h2 {
    font-size: 2.5rem;
  }
  .hero1 h2 {
    font-size: 2.5rem;
  }
  .hero1 p {
    font-size: 1.2rem;
  }
  .productHeading p {
    font-size: 1.2rem;
  }
}

@media (max-width: 560px) {
  .pad {
    padding: 0;
  }
}
