footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  border-top: 1px solid #cce7d0;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.75em;
}
.footer-img {
  width: 200px;
}

.footer-padding {
  padding: 40px 80px;
}

footer .col h3 {
  font-size: 2em;
  margin-bottom: 0.7em;
}
footer .col h4 {
  font-size: 1.2em;
  padding-bottom: 0.7em;
}
footer .col p {
  font-size: 1em;
  padding-bottom: 0.7em;
}
footer a {
  font-size: 0.95em;
  padding-bottom: 0.7em;
  color: var(var(--clr-primary-0) ;);
}

footer .follow i {
  cursor: pointer;
  padding-right: 4px;
  color: #465b52;
}
footer .install .row img {
  border: 1px solid var(--clr-green-light);
  border-radius: 5px;
}
footer .install img {
  margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
  color: var(var(--clr-green-light) ;);
}
.col a:hover {
  color: #088178;
}
@media (max-width: 700px) {
  .footer-padding {
    padding: 20px 40px;
  }
}
